@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Kaushan+Script&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --Inter: 'Inter', sans-serif;
    --Kaushan: 'Kaushan Script', cursive;
    --Mont: 'Montserrat', sans-serif;
}

td {
    border: 3px solid black;
    padding: 10px 20px;
}

body{
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    background-color: #bb9f80;
    color: #fff;
}
.menu{
    margin: 2rem 0;
}
.menu-container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}