* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.game {
    display: flex;
    justify-content: center;
}

.gameContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.gameContainer h1{
    text-align: center;
    color: blue;
    padding: 25px 0;
}

.gameContainer thead tr{
    padding: 25px;
}

.gameContainer tbody tr td{
   text-align: center;
}

.gameContainer tbody tr:nth-child(even) td{
    background-color: #eee;

}

.gameContainer .buttonsContainer{
    display: flex;
    justify-content: center;
}

.gameContainer .buttonsContainer button{
    margin: 0 10px;
}

