@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    background-color: #bb9f80;
    color: #fff;
}

.container{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-top: 5%;

}
.header h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 2.6rem;
    margin-bottom: 5%;
}

.header{
    margin-bottom: 20px;

}

.container-buttons{
    margin-top: 50px;
    margin-bottom: 50px;
}
.container-buttons a {
    font-size: 2em;
    padding: 20px;
}

.ative{
    background-color: saddlebrown;
}
.container-iten{

}
.iten{
       background-color: white;
       border-radius: 8px;
       height: 150px;
       overflow: hidden;
        float:left;
}

.iten.container-img{
    width: 30%;
    float:left;
    background: blue;

}
iten.container-img img{
    width: 100%;
    height: 100%;
}
.iten.container-info{
    width: 70%;
    color: black;
    float: left;
    height: 100%;
    text-align: left;
    padding: 3%;
}
.container-info h3 {
    color: orange;
    border-bottom: 3px solid orange;
    wiidth: 40%;
    margin-bottom: 10px;
}
.container-info h4{
    font-size: 1.2em;

}

.container-info div{
    colo:black;

}

.container-info.categories{

}